.input{
	height: 40px;
	width: 270px;
	border: 3px solid rgb(208,166,178);
		 border-radius: 10px;
		 margin-right: 20px;
		 color: rgb(197, 140, 156);
		 padding-left: 20px;
		 font-size: 1.5em;
}

::placeholder {
	color: rgb(197, 140, 156);
	
	
 }