.button{
	height: 47px;
	width: 170px;
	border: 3px solid rgb(208,166,178);
		 border-radius: 10px;
		cursor: pointer;
		 color: rgb(197, 140, 156);
		 
		 font-size: 1.5em;
}

.btn{
	display: flex;
    align-items: stretch;
    margin: 5px;
    /* align-content: center; */
	 
}



.btn>button:first-child{
	width: auto;
	border: 3px solid rgb(99,162,133);
	color: rgb(83, 144, 116);
	padding: 4px 6px 5px 6px;
    font-size: 2em;
}

.btn>button:last-child{
	
		width: auto;
		border: 3px solid rgb(173,63,70);
		color: rgb(173,63,70);
		padding: 4px 6px 5px 6px;
		 font-size: 2em;
	
}

.text_item, .text_item~p{
	margin-block-start: 0px;
    margin-block-end: 0px;
	font-size: 20px;
	background-color: rgb(207,200,181);
	height: 40px;
	display: flex;
    border-radius: 10px;
    align-items: center;
	 margin-left: 10px;
	 margin-right: 10px;
	 padding: 0px 10px;
	 cursor: pointer;
}

.main_item{
	margin-left: 240px;
}